django==1.8
-e git+https://github.com/puterleat/signalbox.git@master#egg=signalbox
django-extensions==1.3.6
django-mptt==0.5.2
psycopg2==2.7
waitress==0.8.9
django-compressor==1.4
django-secure
django-storages-redux==1.3
boto==2.38.0
dj-database-url==0.2.1
django-registration-redux==1.4
django-debug-toolbar
django-cachalot
whitenoise==3.2.2
gunicorn==19.6.0

