{% extends "admin/change_form.html" %}

{% block coltype %}colMS{% endblock %}}


{% block object-tools-items %}
{{block.super}}
<a class='btn viewsitelink' href='{% url bulk_add_questions %}'>Add multiple questions</a></a>

<a class='btn viewsitelink' href='{% url admin:ask_question_add  %}'>Add another question</a></a>

{% endblock %}

{% block sidebar %}

<div class="span3">

    {% if original %}

    <p>Part of <a href="{{original.asker.admin_edit_url}}">{{original.asker}}</a></p>
    {% endif %}


    <h3>Adding questions</h3>
    <p> In addition to the links in the header, you can add questions by typing a new variable name into the question search box and
    pressing 'save and continue'... a new question will be created which you can then edit.
        </p>


    <h3>Ordering questions</h3>

        <p>You can add both questions and instruments to pages; ordering in the final rendered page can
        be controlled by using the order column of both questions and instruments attached to the
        page. For example, if you wanted to place an instrument between two questions, give the first
        question order=1, the instrument order=2 and the second question order=3. </p>



</div>
{% endblock %}
