{% extends "signalbox:admin/change_form.html" %}
{% load compress %}




{% block sidebar %}
    <div class="span3">
<h4>Tools</h4>

{% if original %}
<p><a href="#" onClick="$('#previewModal').modal();" class="btn" rel="tooltip" data-original-title="Remember to save first.">Preview</a></p>

<hr>
{% endif %}



<h4>Usage</h4>

    {% if original.used_in_askers %}

    <h5>Questionnaires</h5>
        {% for i in original.used_in_askers %}
        <ul>

 <li><a href="{% url admin:ask_asker_change  i.page.asker.id %}">{{i.page.asker }}</a>
    (<a href="{% url admin:ask_askpage_change  i.page.id %}">page {{i.page.page_number }}</a>)
 </li>

        </ul>
        {% endfor %}
    {%else%}
    <p>Not used in any pages directly.</p>
    {% endif %}


    <h5>Instruments</h5>
    {% if original.used_in_instruments %}
{% for i in original.used_in_instruments %}
    <ul>
        <li><a href="{% url admin:ask_instrument_change  i.instrument.id %}">{{i.instrument }}</a></li>
    </ul>
    {% endfor %}
    {%else%}
    <p>Not used in any instruments.</p>
    {% endif %}



<script type="text/javascript">
$('#id_choiceset').parent().after("<div class='offset2'><code id='choicesetpreview'></code></div>");
function updatepreview (id) {
    url = "/api/v1/choiceset/" + id + "?format=json";
    $.get(url, {  },
          function(data) {
              $('#choicesetpreview').html(data.choice_preview);
          }
    )
}
$('#id_choiceset').change(function() {
       updatepreview($('#id_choiceset').val());
});


updatepreview($('#id_choiceset').val());
</script>




<!-- Modal -->
{% if original %}
<div id="previewModal" class="modal bigModal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-body">
  <iframe width=100% height=350px src="{% url preview_questions original.id %}"></iframe>
</div>
  <div class="modal-footer">
    <p>Remember, you to have saved questions before previewing them</p>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endif %}

{% compress js %}
<script type="text/javascript">
(function() {
  var _this = this;

  $(document).ready(function() {
    var vl, vn, vt;
    vt = $('#id_text');
    vn = $('#id_variable_name');
    vl = $('#id_variable_label');
    return vn.bind('blur', function() {
      if (vl.val() === "") {
        return vl.html(vt.val() || vn.val());
      }
    });
  });

}).call(this);
</script>
{% endcompress %}

</div>
{% endblock %}
