{% extends "base.html" %}
{% load compress %}
{% load floppyforms %}
{% load markup %}


{% block title %}
    {{reply.observation.dyad.study.name}}
    {% if reply.is_preview %}
        PREVIEW of {{reply.asker}}
    {% endif %}
{% endblock %}


{% block progress %}
{% if page.asker.show_progress %}
       <p> Page {{ page.progress_pages.0 }} of {{ page.progress_pages.1 }}</p>
{% endif %}
{% endblock %}


{% block cms_toolbar %}
{% endblock %}

{% block base_content %}

    {% if page.asker.page_title %}
        <div class='page_title'>
            {{page.asker.page_title.lower}}
        </div>
    {% endif %}

    <form class="form" id="questionnaire_form" action="." method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="form_field_wrapper line form_error">
            <p>There were problems with this form:</p>
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% if form.errors %}
        <div class="alert alert-error">
            <p>There were problems with a number of the questions below:</p>
        </div>
    {% endif %}


    {% form form using "floppyforms/questionnaire.html" %}


    <p>
        {% if page.questions_which_require_answers %}
        <input class="btn btn-primary btn-large" type=submit value="Save answers">
        {% else %}
        <input class="btn btn-primary btn-large" type=submit value="Next Page">
        {% endif %}
    </p>


</form>

</div>
</div>

<div class="hide" id="dialog-confirm" title="Finished this page?">
<p class="help_text">Click save, or press ctrl+enter to save your answers.</p>
</div>

{% endblock %}




{% block extrajs %}
<script type="text/javascript" page="asker">
$(document).ready(function(){
$('input[value*="NA"]').parent().addClass('not_applicable');

$('input').addClass('mousetrap');
$( "#dialog-confirm" ).hide( );

Mousetrap.bind(['ctrl+return', 'command+return', 'ctrl+s', 'command+s'], function(e) {
    $('#questionnaire_form').submit();
});
Mousetrap.bind('return', function(e) {
    $( "#dialog-confirm" ).dialog({
                resizable: false,
                modal: true,
                buttons: {
                    "Save": function() {
                        $('#questionnaire_form').submit()
                    },
                    "Continue editing": function() {
                        $( this ).dialog( "close" );
                    }
                }
            });
    e.preventDefault();
});

});



</script>
{% endblock %}


