{% extends "signalbox:admin/change_form.html" %}
{% load compress %}

{% block sidebar %}

    <div class="span3">

        {% if original %}
            <h3>Used in:</h3>
                <table class="table">
                {% for s in original.used_in_study_conditions %}
                    <tr>
                        <td>
                            <a href="{% url admin:signalbox_study_change s.study.id %}">{{s.study.name}}</a> >
                            <a href="{% url admin:signalbox_studycondition_change s.id %}">{{s.tag}}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>


        <p>
            <a class='btn' href='{% url print_asker object_id %}'>
                Print questionnaire</a></p>
        <p>
            <a class='btn' href='{% url show_codebook object_id %}'>
                View codebook</a></p>
        <p>
            <a class='btn' href='{% url export_asker object_id %}'>
                Export to JSON</a></p>
    {% endif %}
</div>
{% endblock %}

