{% load compress %}
<input type="{{ type }}" name="{{ name }}"{% if value %} value="{{ value }}"{% endif %}{% if required %} required{% endif %}{% include "floppyforms/attrs.html" %}>

{% compress js %}
<script type="text/javascript">
(function() {
  var _this = this;

  window.getSnapshot = function(e) {
    var b64image;
    b64image = $.scriptcam.getFrameAsBase64();
    $("#id_{{name}}").val(b64image);
    $("#preview_demo_webcam")[0].src = "data:image/png;base64," + b64image;
    $("#camwrapper").hide();
    $("#previewwrapper").show();
    return e.preventDefault();
  };

  window.retake = function(e) {
    $("#camwrapper").show();
    $("#previewwrapper").hide();
    return e.preventDefault();
  };

  $(document).ready(function() {
    return $("#webcam").scriptcam({
      path: '{{ STATIC_URL }}scriptcam/'
    });
  });

}).call(this);
</script>
{% endcompress %}

<div class="span12">
<div class="row hide" id="previewwrapper">
    <div class="span4">
        <img id="preview_{{name}}" width=320 height=240 />
    </div>
    <p><span class="btn btn-small"  href="#" onclick="window.retake(); return false;"><i class="icon-repeat"></i> Retake picture</span></p>
</div>


<div class="row" id="camwrapper">
    <div class="span4" id="webcam">
    </div>
    <p><span class="btn btn-danger"  href="#" onclick="window.getSnapshot(); return false;"><i class="icon-camera"></i> Take picture</span></p>
</div>
</div>
