{% extends "admin/base.html" %}
{% load markup %}

{% with twocols=True %}
{% block content %}
  <h1>Choose data to Export </h1>

  <form class="form" action="." method="POST" accept-charset="utf-8">

      <p>{% csrf_token %}</p>
      <table class="table">
      {{form.as_table}}
</table>
      <p><input class="btn btn-primary" type="submit" name="some_name" value="Download" id="some_name"></p>
  </form>

{% endblock %}


{% block sidebar %}
       <h2>Information on data exporting</h2>

       <ul>
       <li> Data can be exported from multiple studies at once (e.g. sub-studies within a trial). </li>
       <li>To allow for a shared reference point (in time) for data exported, this form allows you to
       specify a 'reference study'. </li>
       <li>The date the participant was randomised to the reference study
       is used to calculate how many days from baseline (day 0) each observation is. </li>
       <li>This may be helpful when participants can enter substudies at slightly differently latencies,
       but final analyses need and offset from a common reference date (e.g. treatment commencement)</li>
       <li> Remember to resolve duplicate replies for your studies before exporting if possible (get to this from the study edit page).</li>
       </ul>

{% endblock %}

{% endwith%}
