{% extends "signalbox:admin/change_form.html" %}


{% block sidebar %}
<div class="span3">


{% if original.created_by_script.asker %}
<h4>Questionnaire</h4>
<a href="{% url show_codebook  original.created_by_script.asker.id %}" class="btn">View codebook</a>
{% endif %}

<h4>Tools</h4>

{% if original and original.dyad %}


{% if original.sms_replies %}
<div class="module" id="tools-module">
    <h2>SMS Replies:</h2>
    <ul>
    {% for i in original.sms_replies %}
        <li>{{i.timestamp}} <a href="{% url admin:signalbox_textmessagecallback_change i.id %}">details</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}






            {%if original.script_type.sends_message_to_user %}
            <p><a class='btn btn-danger' href='{% url resend_observation_signal object_id %}'>
                <i class="icon-refresh"></i> Send/Resend message</a></p>
            {% endif %}

            {%if original.can_add_answers %}
                <p><a class='btn btn-primary' href='{% url start_double_entry original.token %}?success_url={% url admin:signalbox_observation_change object_id %}'>
                    <i class="icon-chevron-right"></i> Enter Data</a></p>
            {% endif %}


            {% if original.reply_set.all.count > 1 %}
            <p><a class="btn" href={% url resolve_double_entry_conflicts_for_observation original.id %}>Resolve duplicate replies</a></p>
            {% endif %}

            <hr>

            <p><a class='btn' href='{% url participant_overview original.dyad.user.id %}'>Participant overview</a></p>

</div>




</div>

{% endif %}
</div>
{% endblock %}
